<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="stylesheet" href="../css/styles-usuario.css">
    <script src="https://kit.fontawesome.com/359e1b0e60.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Pipo Cook's</h1>
    </header>
    <main id="contenedor-todo">
        <div class="user">
            <img src="" alt="Imagen de perfil">
            <h3>Santino Vitale</h3>
            <h3>Nombre de usuario: Vitapavese</h3>
            <i class="fa-solid fa-pen-to-square"></i>
        </div>
        <div class="settings">
            <p>Cambiar contraseña</p>
            <p>Cambiar foto de perfil</p>
        </div>
        <div class="recipes">
            <h3>Mis recetas</h3>
            <div class="recipes-list">
                <div class="recipes-list-item">
                    <i class="fa-solid fa-check"></i>
                    <p>Tacos mexicanos</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
