<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="stylesheet" href="../css/styles-usuario.css">
    <script src="https://kit.fontawesome.com/359e1b0e60.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Pipo Cook's</h1>
    </header>
    <main id="contenedor-todo">
        <div class="username">
            <h3>Santino Vitale</h3>
            <i class="fa-solid fa-pen-to-square"></i>
        </div>
        <div class="icono-usuario">
            <i class="fa-solid fa-circle-user"></i>
            <i class="fa-solid fa-pen-to-square"></i>
        </div>
        <section class="datos-de-acceso">
            <div class="datos-de-acceso-nombre">
                <h3>Nombre</h3>
                <p>Santino</p>
                <h3>Apellido</h3>
                <p>Vitale</p>
            </div>
            <div class="datos-de-acceso-email">
                <h3>Correo electrónico</h3>
                <p>santino.pavese@gmail.com</p>
            </div>
            <div class="datos-de-acceso-password">
                <h3>Contraseña</h3>
                <p>Relleno</p>
            </div>
        </section>
        <section class="mis-recetas"></section>
    </main>
</body>
</html>