*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}


::selection {
    background-color: rgb(175, 99, 0);
    color: white    ;
}

body{
    background-image: url(../img/GatoAcostao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    display: flex;
    height: 100vh;
    margin: auto;
}

.contenedor_todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja_trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #e77400e8;
    border-radius: 25px;
}

.caja_trasera div{
    margin: 50px 40px;
    color: white;
    transition: all 500ms;
}

.caja_trasera div p,
.caja_trasera button{
    margin-top: 30px;
}

.caja_trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja_trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja_trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 600ms;
}

.caja_trasera button:hover{
    background: #fff;
    color: rgb(0, 0, 0);
}

.caja_trasera a{
    text-decoration: none;
    color: #fff;;
}

.caja_trasera a:hover{
    color: #fff;;
}

/*Formularios*/

.contenedor_login_register{
    color: rgb(53, 52, 50);
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor_login_register form{
    width: 100%;
    padding: 80px 20px;
    position: absolute;
    background: #F2E1C7;
    border-radius: 20px;
}

.contenedor_login_register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.contenedor_login_register-input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: white;
    font-size: 16px;
    outline: none;
    border-radius: 25px;
}

.contenedor_login_register-submit{
    display: flex;
    padding: 10px 40px;
    margin: auto;
    font-size: 14px;
    background-color: #F7630C;
    font-weight: 600;
    color: white;
    transition: 700ms;
    border: 2px #F7630C solid;
}

.contenedor_login_register-submit:hover{
    background: #fff;
    
    color: #F7630C
}

.formulario_login{
    opacity: 1;
    display: block;
}

.formulario_register{
    display: none;
}

@media screen and (max-width: 850px){
    
    main{
        margin-top: 50px;
    }

    .contenedor_todo { /*Ordena todo de manera inversa, de manera tal que quedan los formularios sobre la seccion para cambiar de formulario*/
        display: flex;
        flex-direction: column-reverse;
    }

    .caja_trasera{
        max-width: 350px;
        min-height: 200px; /*Quito excesos de padding top y bottom*/
        flex-direction: column;
        width: 90%; /*Reduzco el width para que no sobresalgan las esquinas superiores al quitarles la curvatura*/
        border-radius: 0 0 25px 25px;
        margin: auto;
        padding: 0 !important; /*Se quita el padding para que no se mueva el contenido*/
    }

    .caja_trasera div{
        margin: 0px;
        position: absolute;
    }

    .caja_trasera_register, .caja_trasera_login {
        margin: 0 5% 0 5% !important; /*Se añade margin lateral para ordenar el contenido*/
    }

    .caja_trasera_login p, .caja_trasera_register p, #boton_registrarse, #boton_iniciar_sesion{
        margin-top: 20px !important;
    }

    /*Formularios*/

    .contenedor_login_register{
        top: -0px;
        left: -5px;
        margin: auto;
    }

    .contenedor_login_register form{
        position: relative;
        padding: 40px 20px; /*Quito excesos de padding top y bottom*/
    }
}

@media screen and (max-width: 420px) {

    /*Ajuste tamaño títulos*/

    .contenedor_login_register form h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px !important;
    }
    
    /*Ajuste espaciado*/

    .caja_trasera_login p, .caja_trasera_register p, #boton_registrarse, #boton_iniciar_sesion{
        margin-top: 10px !important;
    }

}

@media screen and (max-width: 380px) {
    .formulario_login, .formulario_register{
        border-radius: 10px;
    }

    .caja_trasera {
        margin-top: -10px;
    }
}

@media screen and (max-width: 300px) {
    .contenedor_login_register form h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px !important;
    }

    .caja_trasera_login p, .caja_trasera_register p{
        font-size: 12px !important;
    }

    #boton_registrarse, #boton_iniciar_sesion {
        max-width: 100% !important;
    }
}
