/* ----- GENERAL ----- */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    height: max-content;
}

::selection {
    background-color: rgb(175, 99, 0);
    color: white;
}

:root{
    --color-fuente: hsl(27, 100%, 20%);
}

.a {
    text-decoration: none;
    color: black;
}
.a :hover{
    color: black;
}
.img :hover{
    color: black;
}

.card {
    width: 19%;
}

ul {
    list-style: none;
}

/* ----- MENÚ ----- */
.menu-general {
    font-size: 19px;
}


.menu-general .dropdown ul.dropdown-menu.show{
    position: relative !important;
    transform: translate(0px, 0px) !important;
    border: none;
}

.menu-general .dropdown .btn{
    background-color:white;
    border: none;
    padding: 0;
    font-size: 19px;
    color: black;
}

.menu-general .dropdown .dropdown-menu .dropdown-item{
    position: relative !important;
    margin-top: 0px !important;
}

.btn-primary{
    background-color: white !important;
    border: none !important;
}

.offcanvas{
    width: 300px !important;
}

/* ----- NAV ----- */
.nav{
    margin: 10px 40px 0 40px;
    align-items: center;
}
.contenedor-recetas{
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
    margin: 20px 40px;
}

.btn:focus{
    box-shadow: none !important;
}

/* ----- MAIN ----- */
.buscador{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.buscador-input{
    width: 300px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    outline: none;
    border: 2px solid silver;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.input-search{
    background-image: url("../img/icon-lupa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 40px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid silver;

}
.fa-magnifying-glass{
    position: relative;
    font-size: 25px;
    margin-left: -60px;
    color: var(--color-fuente);
}
.fa-caret-down{
    position: relative;
    font-size: 30px;
    margin-left: -30px;
    color: var(--color-fuente);
}
.subtitulo{
    margin-left: 40px;
}

.fa-circle-user {
    color: var(--color-fuente);
}

.fa-bars {
    color: var(--color-fuente);
}

/* ----- RESPONSIVE ----- */

@media (max-width: 1280px) {
    .contenedor-recetas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card {
        width: 30%;
        margin: 0 auto 1em auto;
    }
}

@media (max-width: 768px) {
    .contenedor-recetas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card {
        width: 48%;
        margin: 0 auto 1em auto;
    }

    .offcanvas{
        width: 250px !important;
    }

    .menu-general {
        padding: 0 0 0 16px;
    }
}

@media (max-width: 480px) {
    .contenedor-recetas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card {
        width: 90%;
        margin: 0 auto 1em auto;
    }

    .offcanvas{
        width: 200px !important;
    }
}

@media (max-width: 380px) {
    .contenedor-recetas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card {
        width: 90%;
        margin: 0 auto 1em auto;
    }

    .titulo {
        font-size: 24px;
    }

    .fa-bars, .fa-circle-user{
        font-size: 40px !important;
    }
}

@media (max-width: 340px) {
    .titulo {
        font-size: 18px;
    }

    .fa-bars, .fa-circle-user{
        font-size: 30px !important;
    }
}

@media (max-width: 300px) {
    .contenedor-recetas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card {
        width: 95%;
        margin: 0 auto 1em auto;
    }

    .offcanvas{
        width: 100% !important;
    }

    .titulo {
        display: none;
    }

    .fa-bars, .fa-circle-user{
        font-size: 45px !important;
    }
}

