*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

::selection {
    background-color: rgb(175, 99, 0);
    color: white    ;
}

/* General */

.container {
    width: 60%;
    max-width: 1500px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

body {
    margin: 10px 40px;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fa-solid {
    cursor: pointer;
}

button {
    cursor: pointer;
}

section {
    margin-bottom: 1em;
}

input {
    outline: none;
    width: 100%;
    margin-bottom: 16px;
    padding: 10px 20px;
    border: none;
}

/* Header */

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropdownMenuButton1 {
    border: none;
}

.nav-derecha {
    display: flex;
    flex-direction: row;
}

.publicar-receta {
    border: none;
    font-size: 1em;
    background-color: rgb(221, 167, 101);
    color: white;
    border-radius: 1.5em;
    padding: 0 1.8em;
    height: 2.2em;
    align-self: center;
    margin-right: 1.5em;
}

/* Arrastrar imágenes */

.arrastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid hsla(0, 0%, 50%, 0.473);
    border-radius: 2em;
    padding: 2rem 0;
    cursor: pointer;
}

.arrastrar__img {
    opacity: 40%;
    width: 5em;
}

.arrastrar h3{
    opacity: 40%;
    margin-top: .5em;
}

/* Info receta */

.info-receta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-receta button {
    width: 100%;
    margin-bottom: 1em;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
}

/* Ingredientes */

#ingredientes .container {
    padding: 10px 20px;
}

#ingredientes h1 {
    font-size: 30px;
    margin-bottom: .7em;
    margin-top: -.7em;
}

.ingredientes__input {
    display: flex;
    flex-direction: column;
}

.ingredientes__input input {
    margin: 0 auto;
}

.ingredientes__input--ingrediente {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;
}

.ingredientes__input--seccion {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;
}

#ingredientes .fa-solid {
    opacity: 90%;
}

.ingredientes__crear {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ingredientes__crear button {
    border: 0px;
    margin: 0 0.8em;
    font-size: 1.2em;
}

/* Pasos */

.pasos__paso {
    display: flex;
    flex-direction: column;
}

.div {
    display: flex;
    padding: 10px 20px;
    margin: 0 auto;
    width: 100%;
}

.pasos__paso--parte1, .pasos__paso--parte2, .pasos__paso--parte3 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;
}

.pasos__paso--parte2 {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.pasos__crear {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pasos__crear button {
    border: 0px;
    margin: 0 0.8em;
    font-size: 1.2em;
}