* {
    margin: 0;
    padding: 0;
}

header {
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedor-todo {
    margin: 0 3%;
    height: 84vh;
    display: grid;
    grid-template-areas: "user settings" "user recipes";
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    grid-template-rows: 45% 45%;
    row-gap: 10%;
}

/* Seccion usuario */

.user {
    border: 5px solid hsl(27, 100%, 20%);;
    border-radius: 2em;
    background-color: #e77400e8;
    grid-area: user;
}

.profile-photo {
    border-radius: 2em 2em 0 0;
    width: 100%;
    aspect-ratio: 2/1;
    border-bottom: 5px solid hsl(27, 100%, 20%);
}

.user p {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
}

/* Seccion configuracion */

.settings {
    border: 5px solid hsl(27, 100%, 20%);;
    border-radius: 2em;
    background-color: #e77400e8;
    grid-area: settings;
}

.settings h3 {
    padding: 3% 0 1.5% 20%;
    border-bottom: 3px solid hsl(27, 100%, 20%);
    margin-bottom: 1.5%;
}

.settings-conf-item {
    display: grid;
    grid-template-areas: "auto auto";
    grid-template-columns: 90% 10%;
    margin: 5px .5em;
}

.settings-conf-item i {
    font-size: 24px;
    width: fit-content;
}

/* Editar foto de perfil */

#modif-profile-photo {
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 25px;
    margin: 0 auto;
}

#modif-photo-on {
    display: none;
}

.modif-profile-photo-img {
    opacity: 60%;
    width: 90px;
    height: 90px;
}

/* Editar contraseña */

#modif-pass-on {
    display: none;
}

#modif-pass-box {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.modif-pass-inp {
    width: 100%;
    height: 2em;
    border-radius: 20px;
    margin-top: 15px;
}

.modif-pass-inp::placeholder {
    padding-left: 20px;
}

/* Seccion recetas */

.recipes {
    border: 5px solid hsl(27, 100%, 20%);;
    border-radius: 2em;
    background-color: #e77400e8;
    grid-area: recipes;
    overflow: scroll;
}

.recipes h3 {
    padding: 3% 0 1.5% 20%;
    border-bottom: 3px solid hsl(27, 100%, 20%);
    margin-bottom: 1.5%;
}

.recipes::-webkit-scrollbar {
    width: 0px;
}

.recipes-list-item {
    align-items: center;
    display: grid;
    grid-template-areas: "auto auto auto";
    grid-template-columns: 10% 75% 15%;
}

.recipes-list-item i {
    margin: 5px .5em;
    font-size: 24px;
    color: black;
}

.recipes-list-item p {
    margin: 0;
}

.recipes-list-item a {
    width: fit-content;
}

/*Hasta 768px se ve bien, no hace falta responsive, mentira, ajustar un poco los espacios a la izquierda de recipes-list*/

