/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

::selection {
    background-color: rgb(175, 99, 0);
    color: white    ;
}

/* Main */

main {
    margin: 20px 40px;
}

#main-busqueda {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Filtro */

#filtro {
    margin-right: 1em;
}

/* Lista de filtro */

.list-group-item {
    border: none !important;
}

/* Accordion bootstrap */

.accordion-button:focus {
    border-color: #1eff00 !important;
    box-shadow: none !important;
}

.accordion-button {
    color: black !important;
    background-color: #fff;
    border-color: #fff;
}

.accordion-button:not(.collapsed) {
    background-color: #fff2e7 !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

/* Resultados de búsqueda */

#resultados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.resultado-receta {
    margin-left: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: transform .2s;
    box-shadow: 3px 3px 3px 3px rgba(138, 138, 138, 0.2);
    border-radius: 10px;
    padding-top: 1em;
    max-height: 250px;
}

.resultado-receta:hover {
    transform: scale(1.05); 
}

.resultado-img {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.resultado-img h5 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -1.2em;
    max-width:max-content;
    z-index: 100;
    font-weight: 600;
    font-size: 15px;
    background-color: white;
    border-top-right-radius: 10px;
    text-align: center;
}

.img-resultado {
    height: 150px;
    max-width: 200px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(138, 138, 138, 0.2);
}

.resultado-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 20px;
    text-align: center;
}

.time {
    font-size: 18px;
}

/* Responsive */

@media screen and (max-width: 600px) {
    #filtro {
        width: 100%;
        margin-bottom: 1em;
        max-width: 400px;
    }

    #main-busqueda {
        display: flex;
        flex-direction: column
    }

    #resultados {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
        row-gap: 1.5em;
    }

    .resultado-receta {
        margin-left: 0em;
    }    

    .img-resultado {
        max-width: 150px;
    }
    
    .title {
        font-size: 18px;
    }

    .time {
        font-size: 16px;
    }    
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    #filtro {
        width: 100%;
        margin-bottom: 1em;
        max-width: 400px;
    }

    #main-busqueda {
        display: flex;
        flex-direction: column
    }

    #resultados {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1em;
        row-gap: 1.5em;
    }

    .resultado-receta {
        margin-left: 0em;
    }    

    .img-resultado {
        max-width: 150px;
    }
    
    .title {
        font-size: 18px;
    }

    .time {
        font-size: 16px;
    }    
}