/* ----- GENERAL ----- */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    height: max-content;
}

::selection {
    background-color: rgb(175, 99, 0);
    color: white;
}

:root{
    --color-fuente: hsl(27, 100%, 20%);
}

.a {
    text-decoration: none;
    color: black;
}
.a :hover{
    color: black;
}
.img :hover{
    color: black;
}

ul {
    list-style: none;
}

/* ----- MENÚ ----- */
.menu-general {
    font-size: 19px;
}

.menu-desplegable {
    flex: 1;
    padding: 30px 100px 0 20px;
    height: 100%;
    background-color: red;
    position: fixed;
    z-index: 100;
    max-width: 280px;
    color: black;
}

.menu-desplegable .menu-general .dropdown ul.dropdown-menu.show{
    position: relative !important;
    transform: translate(0px, 0px) !important;
    background-color: red;
    border: none;
}

.menu-desplegable .menu-general .dropdown .btn{
    background-color:red;
    border: none;
    padding: 0;
    font-size: 19px;
    color: black;
}

.menu-desplegable .menu-general .dropdown .dropdown-menu .dropdown-item{
    position: relative !important;
    margin-top: 0px !important;
}

/* ----- NAV ----- */
.nav{
    margin: 10px 40px 0 40px;
    align-items: center;
}
.contenedor-recetas{
    display: flex; 
    justify-content: space-between; 
    margin: 20px 40px;
}

.btn:focus{
    box-shadow: none !important;
}

/* ----- MAIN ----- */
.buscador{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.buscador input{
    width: 300px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    outline: none;
    border: 2px solid silver;
    border-radius: 30px;
}
.fa-magnifying-glass{
    position: relative;
    font-size: 25px;
    margin-left: -60px;
    color: var(--color-fuente);
}
.fa-caret-down{
    position: relative;
    font-size: 30px;
    margin-left: -30px;
    color: var(--color-fuente);
}
.subtitulo{
    margin-left: 40px;
}

.fa-circle-user {
    color: var(--color-fuente);
}

.fa-bars {
    color: var(--color-fuente);
}